src/main/mule/mule-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78326923-e634-4e41-a26b-be92ad3da54c" >
		<http:listener-connection host="0.0.0.0" port="8081"/>
	</http:listener-config>
	<api-gateway:autodiscovery apiId="19981238" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="2db02f94-d82a-4790-b4c8-5cbb974ab7f1" flowRef="mule-demoFlow" />
	<flow name="mule-demoFlow" doc:id="2eeb4e88-7343-4408-9d78-e9eff2905ff3" >
		<http:listener doc:name="Listener" doc:id="c4ce41e6-affb-431d-aed7-c85544337a15" config-ref="HTTP_Listener_config" path="/muleGet" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="4fd86c93-f00f-4870-aaa2-36c71c2389b5" message='"flow started cache number :  "  #[attributes.queryParams.cacheNumber]'/>
		<ee:transform doc:name="Transform Message" doc:id="6c7b1b46-4f8f-42b2-b7f3-70573ceb7ee7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6301a207-e77d-4c13-a874-1a89968ae76e" message='"Process ended"'/>
	</flow>
</mule>
